@import '../variables';
@import '../mixins';
@import '../functions';

.stages {
    &-inner {}
    &__title {}
    &-list {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0 -30px 0 -40px;
        padding: 2px 0 0 0;
        @include respond-to(md) {
            margin-left: -13px;
            margin-right: -13px;
            padding-top: 22px;
        }
        @include respond-to(sm) {
            margin-left: 0px;
            margin-right: 0px;
            padding-top: 17px;
        }
        &__single {
            width: 33.333333333%;
            padding: 0 36px 56px 36px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            @include respond-to(md) {
                padding-bottom: 44px;
            }
            @include respond-to(sm) {
                width: 100%;
                justify-content: flex-start;
                flex-direction: row;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 30px;
            }
            &-img {
                padding: 0 0 18px 0;
                margin: 0 0 auto 0;
                max-width: 100%;
                @include respond-to(sm) {
                    width: 83px;
                    margin-right: 32px;
                    padding-bottom: 0px;
                }
                &-tag {
                    max-width: 100%;
                }
            }
            &-title {
                font-size: 24px;
                font-weight: 500;
                line-height: 1.25;
                padding: 0 6px 0 0;
                @include respond-to(md) {
                    font-size: 20px;
                    line-height: 1.5;
                }
            }
            &:nth-child(1) &-title {
                padding-right: 0px;
                padding-left: 36px;
                @include respond-to(md) {
                    padding-left: 0px;
                }
            }
            &:nth-child(1) &-img-tag {
                width: 259px;
            }
            &:nth-child(2) {
                padding-left: 44px;
                padding-right: 28px;
                @include respond-to(sm) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            &:nth-child(2) &-img-tag {
                width: 261px;
            }
            &:nth-child(3) {
                padding-top: 3px;
            }
            &:nth-child(3) &-img-tag {
                width: 257px;
            }
            &:nth-child(3) &-title {
                padding-right: 17px;
                @include respond-to(md) {
                    padding-right: 0px;
                }
            }
        }
    }
}