<div class="marketList__numbers-rait js-raitWr {{class}}">
    {% include './includes/icon.twig' with {icon: {name: 'star-grey-5', class: ''}} %}
    <div class="marketList__numbers-rait-inner js-rait"
         data-rait="{{raitNumber}}">
        {% include './includes/icon.twig' with {icon: {name: 'star-red-5', class: ''}} %}
    </div>
</div>
