{% extends 'forms.twig' %}

{% block leftSlider %}
    {{ includeComponent("electric:form.banner", "", {
        "CODE": "RESTORE",
    }) }}
{% endblock %} {#leftSlider#}

{% block formSoloToggler %}
    <div class="formSolo-workarea-toggle formSolo-workarea-toggle_inside js-formSolo-workarea-toggle">
        <a href="/auth/" class="formSolo-workarea-toggle__back">
            <div class="formSolo-workarea-toggle__back-arrow"></div>
            Вернуться на авторизацию
        </a>
        {#<div class="formSolo-workarea-toggle__text">#}
            {#Ещё нет аккаунта?#}
        {#</div>#}
        <a href="/register/" class="formSolo-workarea-toggle__button button2">
            Регистрация
        </a>
    </div>
{% endblock %} {#formSoloToggler#}
{% block formSoloInfo %}
<div class="formSolo-workarea-response formSolo-workarea-response_form">
    {{ content|raw }}
</div>
{% endblock %} {#formSoloMain#}
