.cabinet__sorting {
    display: flex;
    padding: 15px 30px;
    border-radius: 4px;
    background-color: #f5f9fa;
    margin-top: 30px;
}

.cabinet__sorting-period {
    display: flex;
    align-items: center;
}

.cabinet__sorting-period .field-input {
    margin: 0 24px;
}

.cabinet__sorting-period .link-gray {
    margin-right: 24px;
}

.cabinet__sorting-period .link-gray:last-child {
    margin-right: 0;
}

.cabinet__sorting-item {
    flex: 0 0 auto;
    margin-right: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cabinet__sorting-item:last-child {
    margin-right: 0;
}

.cabinet__sorting-item .main__text {
    color: #6e6b6d;
    transition: .3s;
}

.cabinet__sorting-item .number {
    margin-left: 8px;
    color: #fff;
    font-family: "Gilroy";
    font-size: 13px;
    font-weight: 400;
    padding: 0 7px;
    border-radius: 3px;
    background-color: #d70926;
    height: 22px;
    line-height: 22px;
}

.cabinet__sorting-item:hover .main__text, .cabinet__sorting-item.is-active .main__text {
    color: #120d13;
}

.cabinet__order-photo{
    overflow: hidden;
}
.no_orders{
    padding: 15px;
}