/***********************/
/******** Colors *******/
/***********************/
$color1: #837580;
$color2: #2068bc;
$color3: #120d09;
$color4: #1d1715;
$color5: #d70926;
$color6: #e7e6e6;
$color7: #dfdfdf;
$color8: #7f7f7f;
$color9: #413d3a;
$color10: #6c6967;
$color11: #bfbfbf;
$color12: #32232c;
$color13: #e5e5e5;
$color14: #d8d8d8;
$color15: #f8f8f8;
$color16: #f8f7f7;




/***********************/
/******** Fonts ********/
/***********************/

//Gilroy
$Gilroy: 'Gilroy', sans-serif;


/***********************/
/******** Sizes *******/
/***********************/
$size1: 1440px;
$size2: 320px;
$size3: 1230px;
$size4: 480px;
$size5: 605px;
$size6: 419px;
$size7: 292px;
$padding1: 40px;
$padding2: 30px;
$padding3: 23px;
$padding4: 20px;
