{% extends 'layout.twig' %}
{% block search %}
{% endblock %} {#search#}
{% block main %}
    <div class="typicalPage">
        <div class="typicalPage-inner typicalBlock typicalBlock_two">
            <h1>Типовая страница</h1>
            <p>Посмотреть как выглядят все стандартные теги, например p, ul, img и т.д можно <a href="?layout=articles/detail">здесь</a></p>
        </div>
    </div>
{% endblock %}