{% set cityName = result["CITY_NAME"] %}
{% set suggestedCity = result["SUGGESTED_CITY_NAME"] %}

<div class="header-topInner__block header-city">
    <a href="#city_change" data-fancybox data-src="#city_change">
        {{ cityName }}
    </a>
</div>

{% if suggestedCity %}
    <div class="header-city-quest js-header-city__quest-content active typicalBlock typicalBlock_one">
        <div class="header-city-quest-inner">
            <div class="header-city-quest__title">
                Ваш город {{ suggestedCity }}?
            </div>
            <div class="header-city-quest__buttons">
                <a href="#" class="button button_md js-header-city__quest-toggler">
                    Да
                </a>
                <br class="header-city-quest__buttons-br">
                <a href="#city_change" data-fancybox data-src="#city_change" class="formGroup__action">
                    Нет, выбрать другой
                </a>
            </div>
        </div>
    </div>
{% endif %}
