{% set content = result["CONTENT"] %}

<div class="stages">
    <div class="stages-inner typicalBlock typicalBlock_two">
        <div class="">
            {{ content|raw }}
        </div>
    </div>
</div>
