{% set userID = result["USER"] %}
{% set isAuthorized = result["IS_AUTHORIZED"] %}


<div class="marketDetail-reviews__comment js-form-comment">
    {% if not isAuthorized %}
        <div class="marketDetail-reviews__comment-lock">
        Чтобы оставить отзыв, необходимо
        <a href="/register/">зарегистрироваться</a> или <a href="/auth/">войти</a>
        </div>
    {% else %}
        <div class="marketDetail-reviews__comment-unlock">
            <form action="/api/reviews.add/" class="marketDetail-reviews__comment-form" id="review" data-form-review>
                <input hidden name="review-user" value="{{ userID }}">
                <div class="js-form-error"></div>
                <div class="formGroup required formGroup_raiting">
                    <div class="formGroup-inner formGroup-inner_line">
                        <div class="formGroup-inner-title">
                            Оценка работы мастера:
                        </div>
                        <div class="raitRadio js-raitRadio">
                            {% include './includes/raiting.twig' with {raitNumber: '0', class: 'raitRadio__raiting'} %}
                            <div class="raitRadio__radio">
                                <input type="radio" name="review-mark" value="1" class="js-raitRadio__radio-tag" required>
                                <input type="radio" name="review-mark" value="2" class="js-raitRadio__radio-tag">
                                <input type="radio" name="review-mark" value="3" class="js-raitRadio__radio-tag">
                                <input type="radio" name="review-mark" value="4" class="js-raitRadio__radio-tag">
                                <input type="radio" name="review-mark" value="5" class="js-raitRadio__radio-tag">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formGroup required">
                    <div class="formGroup-inner">
                        <label for="review-text">
                            Ваш отзыв
                        </label>
                        <textarea name="review-text" id="review-text" required
                                  class="marketDetail-reviews__comment-textarea js-textarea-sm" maxlength="2048" placeholder="Ваш отзыв"></textarea>
                    </div>
                </div>
                <div class="formGroup formGroup__bottom disabled">
                    <div class="formGroup-inner">
                        <button type="submit" name="review-submit" disabled>
                            Отправить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
</div>

