{% set authData = result %}

{% if authData["IS_AUTHORIZED"] %}
<div class="header-person__functions header-person__block js-header-person">
    <a href="#" class="header-person__functions-name js-header-user">
            <span class="header-person__functions-name-inner">
                {{ authData["USER"]["NAME"] }} {{ authData["USER"]["LAST_NAME"] }}
            </span>
        {% include './includes/icon.twig' with {icon: {name: 'arrow-down', class: ''}} %}
    </a>
    <div class="header-person-menu js-header-person-menu">
        <div class="header-person-menu-inner">
            <div class="header-person-menu__single">
                {% if (authData["IS_CONTRACTOR"]) %}
                    <a href="/backoffice/news_and_statistics">
                        Личный кабинет
                    </a>
                {% else %}
                    <a href="/backoffice/worksheet">
                        Личный кабинет
                    </a>
                {% endif %}
            </div>
            <div class="header-person-menu__single">
                <a href="#edit_password" data-fancybox="" data-src="#edit_password">
                    Сменить пароль
                </a>
            </div>
            <div class="header-person-menu__single header-person-menu__single_logout">
                <a href="/logout/">
                    Выйти
                </a>
            </div>
        </div>
    </div>
</div>
{% else %}
    <a href="/auth/">
        Авторизация/Регистрация
    </a>
{% endif %}
