{% block forWho %}
    <div class="forWho">
        <div class="forWho-inner typicalBlock typicalBlock_two">
            <div class="forWho-list">
                <div class="forWho-list__single">
                    <h2 class="forWho-list__single-title">
                        Электрик.ру для заказчиков
                    </h2>
                    <div class="forWho-list__single-text">
                        <p>Замена электросчетчика в квартире или доме у людей далеких от электричества, может вызвать определенные сложности. Поэтому в данной статье я расскажу, как самостоятельно заменить электросчетчик в квартире или доме, не прибегая к услугам электриков.</p>
                        <p>Замена электросчетчика, как правило происходит, после выхода из строя старого электросчетчика, окончания срока поверки, перехода с однотарифного на многотарифный, либо по иным известным только вам причинам.</p>
                    </div>
                </div>
                <div class="forWho-list__single">
                    <h2 class="forWho-list__single-title">
                        Электрик.ру для специалистов
                    </h2>
                    <div class="forWho-list__single-text">
                        <p>Чтобы не ошибиться и приобрести электросчетчик, подходящий вам по параметрам, функциям и габаритам, прочитайте статью "Как правильно выбрать электросчетчик". Иначе, вы можете создать себе проблемы. Например, купите электросчетчик, который крепиться на дин-рейку, а у вас для него не хватает места в электрощите, купите электросчетчик у которого дата выпуска (поверки) была несколько лет назад, и его не примут в эксплуатацию и заставят заново поверять или покупать новый электросчетчик.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} {#forWho#}
