{% block stages %}
    <div class="stages">
        <div class="stages-inner typicalBlock typicalBlock_two">
            <div class="stages__title h1">
                Как это работает
            </div>
            <div class="htmlArea">
                <p>Поиск исполнителя больше не отнимет много времени. На сайте вы найдете десятки предложений от частных мастеров и профильных компаний. Все они разделены по категориям: проектирование, монтаж, ремонт, а также комплексные электротехнические работы &mdash; найти исполнителей для проекта &laquo;под ключ&raquo; стало намного легче!</p>

                <p>Работа портала Электрик.ру основана на принципе честной и свободной конкуренции. Такой подход гарантирует адекватное ценообразование, а также стимулирует исполнителей предоставлять максимально качественные услуги.</p>

                <p>Воспользуйтесь системой поиска и фильтрации результатов на странице. Предлагаем выбрать исполнителя по:</p>
                <ul>
                    <li>месторасположению;</li>
                    <li>виду работ;</li>
                    <li>стоимости услуг;</li>
                    <li>рейтингу.</li>
                </ul>
                <p>На портале предоставлена исчерпывающая информация о каждом исполнителе: степень квалификации, перечень услуг,&nbsp; преимущества сотрудничества. Для оценки соответствия предоставленной информации действительности, на портале работает независимая система рейтинга и отзывы. Электрик.ру &mdash;&nbsp; ресурс, который позволяет рассчитывать на 100% объективность и непредвзятость.</p>

                <h2>Честная конкуренция &mdash; основа работы портала&nbsp;</h2>

                <p>Конкуренция &mdash; эффективный способ регулирования цен на услуги. После размещения заказа, мы быстро оповестим исполнителей из указанного региона о вашем предложении. Заинтересованные подрядчики откликнутся на заявку, и вам останется только выбрать подходящего по цене или рейтингу мастера. В среднем каждое задание получает от 3 предложений.</p>

                <h2>Электрик.ру &mdash; это площадка для заключения взаимовыгодных соглашений</h2>

                <p>Использовать ресурсы Электрик.ру &mdash; это удобно и выгодно. С нами исполнители получают доступ к неограниченному количеству предложений, тем самым развивая и расширяя свой бизнес. А заказчики оперативно находят квалифицированных специалистов для выполнения электротехнических работ на высшем уровне.</p>

                <div class="htmlArea-slider js-htmlArea-slider">
                    <div class="htmlArea-slider__single">
                        <img src="/local/templates/.default/img/howwork-1.jpg" alt="">
                    </div>
                    <div class="htmlArea-slider__single">
                        <img src="/local/templates/.default/img/howwork-2.jpg" alt="">
                    </div>
                    <div class="htmlArea-slider__single">
                        <img src="/local/templates/.default/img/howwork-3.jpg" alt="">
                    </div>
                </div>

            </div>

            {#<div class="stages-list">#}
                {#<div class="stages-list__single">#}
                    {#<div class="stages-list__single-img">#}
                        {#<img src="/local/templates/.default/img/stages-design.png"#}
                             {#srcset="/local/templates/.default/img/stages-design@2x.png 2x,#}
                                                         {#/local/templates/.default/img/stages-design@3x.png 3x"#}
                             {#alt="Проектирование" title="Проектирование" class="stages-list__single-img-tag">#}
                    {#</div>#}
                    {#<div class="stages-list__single-title">#}
                        {#Проектирование#}
                    {#</div>#}
                {#</div>#}
                {#<div class="stages-list__single">#}
                    {#<div class="stages-list__single-img">#}
                        {#<img src="/local/templates/.default/img/stages-installation.png"#}
                             {#srcset="/local/templates/.default/img/stages-installation@2x.png 2x,#}
                                                         {#/local/templates/.default/img/stages-installation@3x.png 3x"#}
                             {#alt="Монтаж" title="Монтаж" class="stages-list__single-img-tag">#}
                    {#</div>#}
                    {#<div class="stages-list__single-title">#}
                        {#Монтаж#}
                    {#</div>#}
                {#</div>#}
                {#<div class="stages-list__single">#}
                    {#<div class="stages-list__single-img">#}
                        {#<img src="/local/templates/.default/img/stages-repairs.png"#}
                             {#srcset="/local/templates/.default/img/stages-repairs@2x.png 2x,#}
                                                         {#/local/templates/.default/img/stages-repairs@3x.png 3x"#}
                             {#alt="Ремонт" title="Ремонт" class="stages-list__single-img-tag">#}
                    {#</div>#}
                    {#<div class="stages-list__single-title">#}
                        {#Ремонт#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
{% endblock %} {#stages#}
